<h3>Tutors ({{ totalTutors }}): {{ subject.courseCode }} - {{ subject.courseName }}</h3>
<ul class="list-group" id="subjects">
{{#each tutors}}
    <li class="list-group-item">{{ tutorId.firstName }} {{ tutorId.lastName }}</li>
{{else}}
    <li class="list-group-item">There are no tutors currently available for this subject.</li>
{{/each}}
</ul>